@{
    ViewBag.Title = "About";
}



    <div class="fundal2">
        <h1 class="titlul_paginii_about">Activitatea noastră!</h1>

        <p class="about_paragraf_1">
            Piatră flexibilă! Design și material modern cu tradiții inspirate seculare. Fiind creat din splendoarea nisipului, acest material ecologic este cu adevărat revoluționar.
            Folosită atât în interior, dar și prin exterior (lucrări de finisare, garduri, pereți, scări, etc.) piatra flexibilă este ușoară, simplu de aplicat, rezistentă la toate
            condițiile climaterice și cu o durabilitate de invidiat, și totodată dispune de o garanție de minim 25 de ani! 
            <br />
            În continuare puteți vizualiza galeria noastră cu construcții deja finisate și admira splendoarea acestui produs.
        </p>

        <div>
            <table>
                <tr>
                    <td>
                        <h1 class="obiecte_gallery_titlu">Galerie - </h1>
                    </td>
                    <td>
                        <h1 class="obiecte_gallery_titlu_2">construcții finisate!</h1>
                    </td>
                </tr>
            </table>
        </div>

        <div class="obiecte_gallery">
            <a href="~/Assets/images/about_page/about4.PNG" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about4.png" alt="Fațadă 4" /></a>
            <a href="~/Assets/images/about_page/about1.png" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about1.png" alt="Fațadă 1" /></a>
            <a href="~/Assets/images/about_page/about2.png" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about2.png" alt="Fațadă 2" /></a>
            <a href="~/Assets/images/about_page/about5.png" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about5.png" alt="Fațadă 5" /></a>
            <a href="~/Assets/images/about_page/about3.png" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about3.png" alt="Fațadă 3" /></a>
            <a href="~/Assets/images/about_page/about6.png" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about6.png" alt="Fațadă 6" /></a>

            <a href="~/Assets/images/about_page/about7.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about7.jpg" alt="Fațadă 7" /></a>
            <a href="~/Assets/images/about_page/about8.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about8.jpg" alt="Fațadă 8" /></a>
            <a href="~/Assets/images/about_page/about9.PNG" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about9.png" alt="Fațadă 9" /></a>
            <a href="~/Assets/images/about_page/about10.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about10.jpg" alt="Fațadă 10" /></a>
            <a href="~/Assets/images/about_page/about11.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about11.jpg" alt="Fațadă 11" /></a>
            <a href="~/Assets/images/about_page/about12.PNG" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about12.png" alt="Fațadă 12" /></a>
            <a href="~/Assets/images/about_page/about13.PNG" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about13.png" alt="Fațadă 13" /></a>
            <a href="~/Assets/images/about_page/about14.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about14.jpg" alt="Fațadă 14" /></a>
            <a href="~/Assets/images/about_page/about15.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about15.jpg" alt="Fațadă 15" /></a>
            <a href="~/Assets/images/about_page/about16.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about16.jpg" alt="Fațadă 16" /></a>
            <a href="~/Assets/images/about_page/about19.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about19.jpg" alt="Fațadă 19" /></a>
            <a href="~/Assets/images/about_page/about17.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about17.jpg" alt="Fațadă 17" /></a>
            <a href="~/Assets/images/about_page/about18.jpg" data-lightbox="Obiecte_Finisate" data-title="Obiect finisat"><img class="obiecte_image_size" src="~/Assets/images/about_page/about18.jpg" alt="Fațadă 18" /></a>
        </div>

        <p class="about_paragraf_2">
            Pentru a vizualiza o gamă largă a diferitor nuanțe și culorui a pietrei flexibile, oferite de noi, accesați pagina cu produse.
            Acolo puteți analiza din amploare catalogul nostru cu prodeuse pentru dumneavoastră!
        </p>

    </div>