 @{ 
      Layout = "~/Views/Shared/_Layout.cshtml";
  }
    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__subtitle">Flexible Stone</h2>
                <h1 class="intro__title">Welcome to Top Infinity</h1>

                <a class="btn-creare" href="@Url.Action("CreateAcount","Home")">Create Account</a>
            </div>

        </div>
    </div>
    
