@using System.Web.Optimization
@{
    ViewBag.Title = "Detalii";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-background">
    @Html.Partial("_PartialDashboard")
    <h2 class="nume-tabela-2">Profilul utilizatorului selectat</h2>
</div>
